.container{
    width: 500px;
    margin: auto;
    padding: 40px 60px;
}

h1{
    background-color: green;
}

p{
    background-color: #ca9393;
}

.box1{
    width: 30%;
    margin: auto;
}

.container{
    width: 300px;
    margin: ;
    padding: inline;
}

.rod{
    width: 40%;
    margin: auto;
}

.img{
    width: 100%;
}